export TF_VAR_subscription_id=
export TF_VAR_gh_repo=
export TF_VAR_location=
export TF_VAR_resource_group_name=
export TF_VAR_vnet_name=
export TF_VAR_foundry_project_endpoint=
export TF_VAR_foundry_account_name=
export TF_VAR_sql_server=
export TF_VAR_sql_database=